@page "/"

<PageTitle>Canteen Management</PageTitle>

<h1>Canteen Management</h1>

<p>Welcome to the canteen administration dashboard.</p>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Foods</h5>
                <p class="card-text">Manage food items available in the canteen.</p>
                <a href="/foods" class="btn btn-primary">Manage Foods</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Menu</h5>
                <p class="card-text">Manage daily menu items and available portions.</p>
                <a href="/menu" class="btn btn-primary">Manage Menu</a>
            </div>
        </div>
    </div>
</div>
